<div class="list-group adm-menu">
  <a href="#" class="list-group-item list-group-item-action list-group-item-info">Menu</a>  
  <a href="modelo.php?pagina=cliente" class="list-group-item list-group-item-action list-group-item-light">Clientes</a>
  <a href="modelo.php?pagina=reclamante" class="list-group-item list-group-item-action list-group-item-light">Reclamantes</a>
  <a href="modelo.php?pagina=preposto" class="list-group-item list-group-item-action list-group-item-light">Prepostos</a>
  <a href="modelo.php?pagina=tipo" class="list-group-item list-group-item-action list-group-item-light">Tipos</a>
  <a href="modelo.php?pagina=modalidade" class="list-group-item list-group-item-action list-group-item-light">Modalidades</a>
  <a href="modelo.php?pagina=vara" class="list-group-item list-group-item-action list-group-item-light">Varas</a>
</div>  