<!-- Modal Incluir -->
<div class="modal fade" id="inserir" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inclusão de Processo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form method="post" action="">
        <input type="hidden" name="acao" value="inserir"/>
        <div class="modal-body">
          <input class="form-control" type="hidden" readonly="readonly" name="id_processo" id="modal-id-processo-inclui">
          <div class="form-group">
            <label for="numero_proc">Número do processo</label>
            <input type="text" readonly="readonly" class="form-control" name="numero_proc" id="modal-numero_proc-inclui">
          </div>

          <div class="form-group">
            <label for="cliente">Cliente</label>
            <select name="cliente" class="form-control" id="modal-cliente-inclui" required>
              <option value="">Selecione o cliente</option>
            </select>  
          </div>

          <div class="form-group">
            <label for="reclamante">Reclamante</label>
            <select name="reclamante" class="form-control" id="modal-reclamante-inclui" required>
              <option value="">Selecione o reclamante</option>
            </select>  
          </div>  

          <div class="form-group justify-content-between">
            <label for="id_preposto">Preposto</label>
            <select name="id_preposto" class="form-control" id="modal-preposto-inclui" required>
              <option value="">Selecione o preposto</option>
            </select>  
          </div>

          <div class="form-group">
            <label for="id_vara">Vara</label>
            <select name="id_vara" class="form-control" id="modal-vara-inclui" required>
              <option value="">Selecione a vara</option>
            </select>  
          </div>


        </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Incluir</button>
          </div>
      </form>
    </div>
  </div>
</div> 

<!-- Modal Alterar -->
<div class="modal fade" id="alterar" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alteração de Processo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="formAlteraProcesso" method="post" action="">
        <input type="hidden" name="acao" value="alterar"/>

        <div class="modal-body">
          <input class="form-control" type="hidden" readonly="readonly" name="id_processo" id="modal-id_processo-altera">
          <div class="form-group">
            <label for="numero_proc">Número do processo</label>
            <input type="text" class="form-control" name="numero_proc" readonly="readonly" id="modal-numero_proc-altera">
          </div>

          <div class="form-group">
            <label for="cliente">Cliente</label>
            <select name="cliente" class="form-control" id="modal-cliente-altera" required>
              <option value="">Selecione o cliente</option>
            </select>  
          </div>

          <div class="form-group">
            <label for="reclamante">Reclamante</label>
            <select name="reclamante" class="form-control" id="modal-reclamante-altera" required>
              <option value="">Selecione o reclamante</option>
            </select>  
          </div>  

          <div class="form-group">
            <label for="id_preposto">Preposto</label>
            <select name="id_preposto" class="form-control" id="modal-preposto-altera" required>
              <option value="">Selecione o preposto</option>
            </select>  
          </div>

          <div class="form-group">
            <label for="id_vara">Vara</label>
            <select name="id_vara" class="form-control" id="modal-vara-altera" required>
              <option value="">Selecione a vara</option>
            </select>  
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Excluir -->
<div class="modal fade" id="excluir" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exclusão de Vara</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form id="formExcluiVara" method="post" action="">
        <input type="hidden" name="acao" value="excluir"/>
        <div class="modal-body">          
          <input class="form-control" type="hidden" readonly="readonly" name="id_processo" id="modal-id-processo-exclui">
          <div class="form-group">
            <label for="numero_proc">Número do processo</label>
            <input type="text" class="form-control" readonly="readonly" name="numero_proc" id="modal-numero_proc-exclui">
          </div>

          <div class="form-group">
            <label for="cliente">Cliente</label>
            <input type="text" class="form-control" readonly="readonly" name="cliente" id="modal-cliente-exclui">
          </div>

          <div class="form-group">
            <label for="reclamante">Reclamante</label>
            <input type="text" class="form-control" readonly="readonly" name="reclamante" id="modal-reclamante-exclui">
          </div>  

          <div class="form-group">
            <label for="id_preposto">Preposto</label>
            <input type="text" class="form-control" readonly="readonly" name="id_preposto" id="modal-id_preposto-exclui">
          </div>

          <div class="form-group">
            <label for="id_vara">Vara</label>
            <input type="text" class="form-control" readonly="readonly" name="id_vara" id="modal-id_vara-exclui">
          </div>
          
          
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Excluir</button>
        </div>
      </form>
    </div>
  </div>
</div>